# Git aliases.
alias gs='git status'
alias gp='git pull --rebase'
alias gcam='git commit -am'
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'
alias ga='git add $@'
alias gc='git commit -m $@'
alias gcap='gitCommitAndPush $@'

#
alias src='source ~/.zshrc'